@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&display=swap");

@import "tailwindcss";
@import "./styles/theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg,
      #FFF8F5 0%,
      #FFF3EB 35%,
      #FDF2F8 65%,
      #F5F3FF 100%);

  color: var(--text-dark);
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

section {
  padding: 100px 8%;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

::selection {
  background: #2563eb;
  color: white;
}